fastapi
uvicorn[standard]
pipecat-ai
deepgram-sdk
openai
elevenlabs
pytest
pytest-asyncio
pytest-mock
websockets==12.0.0
python-dotenv
aioquic
pyee
pydantic-settings
aiohttp
protobuf
onnxruntime
pydub
pipecat-ai[riva]
httpx[http2]
pipecat-ai[groq]
pipecat-ai[google]